<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>AcógeM</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<!-- <style type="text/css">
  
  a.button {
    appearance: button;

    text-decoration: none;
    color: initial;
  }

</style> -->

<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
        <a class="navbar-brand" href="{% url 'index.html' %}">AcógeM.</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'index.html' %}">HOME</a></li>
          <li><a href="{% url 'animal-list' %}">ANIMALES</a></li>
          <li><a href="">CONTACT</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">LOGOUT ({{ user }})</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">LOGIN</a></li>
          {% endif %}
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="blog.html">BLOG</a></li>
              <li><a href="single-post.html">SINGLE POST</a></li>
              <li><a href="portfolio.html">PORTFOLIO</a></li>
              <li><a href="single-project.html">SINGLE PROJECT</a></li>
            </ul>
          </li>
 -->        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <div class="container-fluid">

    <div style="margin-top: 60px;" class="row">
      <div class="col-sm-10 ">
      {% block content %}
      	<ul class="sidebar-nav">
   			{% if user.is_authenticated %}
     		<li>User: {{ user.get_username }}</li>
     		<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   			{% else %}
     		<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   			{% endif %} 
  		</ul>
      {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>