<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>AcógeM</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//localhost:8080/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


</head>

<style type="text/css">
  a{
    font-size: medium;
  }
</style>

<body>

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{% url 'index.html' %}" class="navbar-brand d-flex align-items-center">
        <strong>AcógeM</strong>
      </a>
          <p class="active"><a style="color: white; text-decoration: none;" href="{% url 'index.html' %}">Inicio</a></p>
          <p><a style="color: white; text-decoration: none;" href="{% url 'ciudad-list' %}">Ciudades</a></p>
          <p><a style="color: white; text-decoration: none;" href="{% url 'protectora-list' %}">Protectoras</a></p>
          <p><a style="color: white; text-decoration: none;" href="{% url 'animal-list' %}">Animales</a></p>
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a style="color: white; text-decoration: none;" href="#" class="" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'perfil-detail' user.perfil.pk %}">Mi Perfil</a></li>
              {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Administración</a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}">&#9758; Cerrar Sesión</a></li>
            </ul>
          </li>
        {% else %}
          <p><a style="color: white; text-decoration: none;" href="{% url 'login' %}">LOGIN</a></p>
          <p><a style="color: white; text-decoration: none;" href="{% url 'user-add' %}">REGISTRATE</a></p>
        {% endif %}
        <div class="buscar" style="position: relative; padding: 5px;">
        <form class="d-felx" method="POST" action="{% url 'search' %}">
          {% csrf_token %}
          <div class="custom-search-input">
           <div class="input-group col-md-12">
             <input style="border-radius: 7px;" type="text" class="form-control" placeholder="Buscar" name="buscar">
             <p></p>
             <span class="input-group-list">
              <i class="icon icon-search"></i>
              <button style="margin-left: 7px; margin-top: 4px;" type="submit" class="btn btn-primary">Buscar</button>
             </span>
           </div>
          </div>
        </form>
        </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}
      
</body>
</html>