{% extends "base.html" %}

{% block content %}

<style type="text/css">

    .titulo{
        text-align: center;
        font-size: 110px;
    }

    div.noticia{
        width: 50%;
        margin: 5px auto;
        font-size: medium;
        text-align: justify;
        background-color: grey;
        color: #fff;
        padding: 15px;
    }

    div.noticia img.izquierda {
        float: left;
        margin-right: 15px;
    }

    .btn{
        margin-top: 10px;
        margin-left: 43%;
    }

</style>

<h1 class="titulo">{{ animal.nom }}</h1>
<div class="noticia">
  <img class="izquierda" src="/media/{{ animal.foto }}">
    <aside>
        {{ animal.descrip }}
        <br>
        Tiene {{ animal.edad }} años y se encuentra en {{ animal.protectora }}
    </aside>
  <div class="reset"></div>
    {% if animal.adoptado == True %}
        <p><b><u>El animal está adoptado</u></b></p>
    {% else %}
        <form class="d-felx" action="{% url 'adoptar' animal.pk %}">
            {% csrf_token %}
            <div class="custom-search-input">
                <span class="input-group-list">
                    <i class="icon icon-search"></i>
                    <button type="submit" class="btn btn-primary btn-lg" name="adoptar">ADOPTAR</button>
                </span>
            </div>
        </form>
    {% endif %}
</div>

    
{% endblock %}

