<form action="ejemplo.php" method="get">
  <p>Nombre: <input type="text" name="nombre" size="40"></p>
  <p>Descripción: <input type="text" name="descripcion" size="70" maxlength="200" placeholder="Escribe la descripción del animal"></p>
  <p>Tipo del animal:
    <input type="radio" name="p"> Perro
    <input type="radio" name="g"> Gato
    <input type="radio" name="h"> Hurón
    <input type="radio" name="c"> Conejo
  </p>
  <p>
    <input type="submit" value="Enviar">
    <input type="reset" value="Borrar">
  </p>
</form>