{% extends "base.html" %}

{% block content %}
    
<main >

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Animales</h1>
        <p class="lead text-muted">Aquí podrás encontrar todos los animales que tenemos en la protectora.</p>
        <p>
          <a style="border-radius: 4px;" href="{% url 'animal-add' %}" class="btn btn-primary my-2">Añadir Animal</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for animal in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="/media/{{ animal.foto }}">
            <div class="card-body">
              <p class="card-text"><a href="{% url 'animal-detail' animal.pk %}">{{ animal.nom }}</a></p>
              <div class="d-flex justify-content-between align-items-center">
                {% if user.is_staff %}
                <div class="btn-group">
                  <a href="{% url 'animal-update' animal.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
                  <a href="{% url 'animal-delete' animal.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Borrar</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% if is_paginated %}

       <div >
               <ul class="pagination justify-content-center">
                   <!-- Para poder volver atras de la pagina en la que se este-->
                   {% if page_obj.has_previous %}
                       <li class="page-item">
                           <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
                       </li>
                   {% else %}
                       <li class="page-item disabled">
                           <a href="#" class="page-link">Anterior</a>
                       </li>
                   {% endif %} <!-- Final para volver atrás -->

                   {% for elemento in paginator.page_range %}
                    <li class="page-item {% if page_obj.number == elemento %} active {% endif %}">
                           <a href="?page={{ elemento }}" class="page-link">{{ elemento }}</a>
                    </li>
                   {% endfor %}


                   {% if page_obj.has_next %}
                       <li class="page-item">
                           <a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
                       </li>
                   {% else %}
                       <li class="page-item disabled">
                           <a href="#" class="page-link">Siguiente</a>
                       </li>
                   {% endif %}
               </ul>
           </div>

       {% endif %}

</main>

{% endblock %}