{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <h2>Hola {{ user }}, ésta es la página de inicio de AcógeM.</h2>
    {% else %}
    <h2>Esta es la página de inicio de AcógeM</h2>
    {% endif %}
    
    <h3>Mi aplicación contiene:</h3>
    <ul>
        <li class="pagina"><a href="{% url 'ciudad-list' %}">Ciudades</a></li>
        <li class="pagina"><a href="{% url 'protectora-list' %}">Protectoras</a></li>
        <li class="pagina"><a href="{% url 'animal-list' %}">Animales</a></li>
        <li class="pagina"><a href="{% url 'perfil-list' %}">Perfiles</a></li>
    </ul>
    <!-- {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-default">Cerrar Sesión</a>
    {% endif %} -->
{% endblock %}