{% extends "base.html" %}

{% block content %}
    <h2>Esta es la página de inicio de mi aplicación web AcogeM</h2>
    <h3>Mi aplicación contiene:</h3>
    <ul>
        <li><a href="{% url 'ciudad-list' %}">Ciudades</a></li>
        <li><a href="{% url 'protectora-list' %}">Protectoras</a></li>
        <li><a href="{% url 'animal-list' %}">Animales</a></li>
        <li><a href="{% url 'perfil-list' %}">Perfiles</a></li>
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-default">Cerrar Sesión</a>
    {% endif %}
{% endblock %}