{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <h2>Hola {{ user }}, ésta es la página de inicio de AcógeM.</h2>
    {% else %}
    <h2>Esta es la página de inicio de AcógeM</h2>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div class="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                            <p></p>
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="boton btn-success">Buscar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% for animal in object_list %}
    <li><a href="{% url 'animal-detail' animal.pk %}">{{ animal.nom }}</a></li>
    {% endfor %}

{% endblock %}